li {
  list-style-type: none;
  margin: 0 1vw;
  font-size: 4vh;
}

a {
  text-decoration: none;
  color: white;
  padding: 1vw;
}

a:hover {
  color: rgba(241, 238, 13, 0.767);
}

ul {
  margin: 0;
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: verdana;
}

nav {
  width: 100vw;
  padding: 2vh 0;
  background-color: rgb(223, 167, 14);
}


.alert-danger {
  text-align: center;
  background-color: rgb(170, 37, 37);
  color: white;
  padding: 10px;
}

input[type="search"] {
  border: none;
  margin: none;
  outline: none;
}

input[type="search"]:hover {
  outline: none;
  cursor: pointer;
}

hr {
  margin: 0;
}

.btn-search {
  margin: none;
  border: none;
  border-radius: 0 5px 0 0;
  /* background: rgb(223, 167, 14); */
  background: rgb(223, 167, 14);
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  padding: 5px;
  margin-left: 2vw;
  outline: none;
}

.btn-search:hover {
  color: white;
  background: rgba(223, 167, 14, 0.767);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  ul {
    flex-direction: column;
    justify-content: flex-end;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
  }
}

.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  /* position: relative; */
  margin: 7vh 0;
  /* border: 1px solid gray; */
}

.section-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 100vw;

  /* margin: 5vh 1vw; */
}

.userpage {
  width: 350px;
  padding: 5px;
  /* height: 30px; */
  background: rgb(229, 227, 223);

}

#map {
  width: 600px;
  /* height: 700px; */
  justify-content: flex-start;

}

@media (max-width:760px) {
  #map {
    width: 350px;
    height: 500px;
  }

  .userpage {
    margin-bottom: 10px;
    width: 400px;
    background: rgb(229, 227, 223);

  }
}

.detail-1 {
  display: flex;
  margin: 20px;
  background-color: rgb(164, 217, 242);
  color: white;
  border-radius: 20px;
  z-index: 3;
  box-shadow: 5px 5px 10px 0px rgba(87, 87, 87, 0.486);
}

.detail-1 img {
  height: 100px;
  width: 100px;
}

.detail-1>div {
  margin: 0 auto;
  padding-right: 5px;
}

.detail-2 {
  display: flex;
  display: flex;
  margin: 20px;
  background-color: rgb(164, 217, 242);
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(87, 87, 87, 0.486);
}

.detail-2 div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.current-details {
  color: white;
}

.detail-2>div>div {
  padding: 0;
}

.graph {
  display: flex;
  flex-direction: column;
}

.btn-section {
  margin-bottom: 20px;
  margin-left: 5px;
  padding: 0;
}

.temp {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid skyblue;
  width: 30px;
  height: 30px;
  outline: none;
  margin: 0;
  padding: 0;
}

.active {
  color: skyblue;
  border: 1px solid black;
}

.temp:hover {
  cursor: pointer;
}


.footer {
  background: black;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  color: white;
  padding: 20px;
}

/* 
<style type='text/css'>.flex {}

.flex div {
  border: 1px solid gray;
  padding: 4px;
  background: #A4F2D8;
  font-family: verdana;
  font-size: 19px;
  text-align: center;
  color: gray;
}

</style><div class='flex'><div style='width: 200px; height: 30px'>1</div><div style='width: 30px; height: 30px'>2</div><div style='width: 30px; height: 30px'>3</div></div> */