* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



body {
  background: rgba(12, 20, 63, 1);
  font-size: 1.2em;
  color: white;

}


.main {
  display: grid;
  grid-template-columns: .8fr .5fr;
  grid-template-rows: auto 2fr;
  justify-content: space-evenly;
  margin: 0 10px;
  align-self: center;
}

.userpage {
  background-color: rgba(124, 34, 34, 0.74);
  padding: 60px;
  border-radius: 0 50px 50px 0;
}

#map {
  position: relative;
  height: 80vh;
  background-size: cover;
}

.user-search-group {
  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-gap: .1em;
  margin: 0 5px;
}

input {
  width: 60%;
  height: 7vh;
  outline: none;
  border: none;
  background: none;
  color: #ffffff;
  font-size: 1.3em;
  border-bottom: 2px solid rgb(253, 253, 253);
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 1em;
}

input:focus {
  width: 100%;
  transform: scaleY(1.4);
  transform: scale(1);
}

.btn {
  width: 70%;
  height: 4vh;
  border-radius: 10px;
  outline-offset: unset;
  outline: none;
}

.btn:hover {
  background-color: rgba(245, 26, 66, 0.322);
  color: white;
}

.btn-search {
  font-size: 1.2em;
  color: white;
  margin: 0 auto;
  align-self: self-end;
  background-color: #BF1736;
  border: none;
}

label {
  font-size: 1.7em;
  color: white;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.weather-conditions {
  margin-top: 40px;
}

.weather-conditions>div {
  margin-top: 10px;
}

.btn-convert {
  border: none;
  font-size: 1.4em;
  width: 50%;
  background: #BF1736;
  color: white;
  margin: 40px 20px;
}

.temperature {
  margin: 0;
}

.temp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

@media(max-width:960px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20% auto;
  }

  #map {
    background-image: url('../img/shoe.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
  }

  .user-search-group {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-gap: 0;
    margin: 0 10px;
  }

  input {
    width: 70%;
    height: 7vh;
    outline: none;
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    border-bottom: 2px solid White;
  }

  .btn-search {
    font-size: 1em;
    color: white;
    margin: 0 auto;
    align-self: self-end;
    background-color: #BF1736;
    border: none;
    width: 90%;
    height: 5vh;
    border-radius: 20px;
  }

  .temp {
    display: grid;
    grid-template-columns: 1fr 1fr
  }
}